<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InSpace - {% block title %}Community knowledge register, organization and sharing.{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  {% block extra_styles %}{% endblock %}
</head>
<body> 
  {% block base_content %}{% endblock %}
</body>
</html>
