{% extends 'base.html' %}

{% block base_content %}
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">

        <a href="{% url 'core:home' %}"class="nav-item">
          <img src="https://image.flaticon.com/icons/png/128/405/405340.png" alt="InSpace Logo">
          <h1 class="nav-item">InSpace</h1>
        </a>

        <div class="nav-item">
          <a class="button is-success is-outlined nav-item" href="{% url 'core:resource-create' %}"><span class="icon"><i class="fa fa-lightbulb-o"></i></span></a>
        </div>

      </div>
    </div>
  </nav>

  <div class="container is-fluid">
    <div class="column is-half is-offset-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
