{% extends 'base.html' %}

{% block base_content %}
  <section class="section hero has-text-centered">
    <div class="notification is-warning">
      <p>O InSpace se encontra em versão pré alpha. Use por sua conta em risco. Os dados persistidos no sistema poderão ser removidos sem aviso prévio.</p>
    </div>
    <div class="hero-body">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <img src="{{ INSPACE_LOGO_URL }}" alt="InSpace Logo">
          <h1 class="title is-1">InSpace</h1>
          <form class="control" method="GET" action="{% url 'core:resource-list' %}">
            <div class="field has-addons">
              <p class="control is-expanded">
              <input name="title" class="input is-medium is-info" type="text" placeholder="Posso ajudar?">
              </p>
              <p class="control">
              <button class="button is-medium is-info">
                <span class="icon"><i class="fa fa-search"></i></span>
              </button>
              </p>
            </div>
          </form>
          <hr>
          <a class="button is-success is-large is-outlined" href="{% url 'core:resource-create'%}"><span class="icon"><i class="fa fa-lightbulb-o"></i></span>&nbsp;Colaborar</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
